<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>

	<form th:action="@{/login}" method="post">
<!-- 				id -->
				<input type="text" name="username" placeholder="id"> 
				<label for="floatingInput"></label>
			
<!-- 				Password -->
				<input type="password" name="password" placeholder="Password"> 
				<label for="floatingPassword"></label>

		<input type="submit" value="로그인" sec:authorize="!isAuthenticated()">
		<button sec:authorize="isAuthenticated()">로그아웃</button>
		<a th:href="@{/join}" sec:authorize="!isAuthenticated()"> 회원가입 </a>
	</form>

</body>
</html>